footer nav {
  text-align: center;
  font-size: 12px;
  font-family: "BwModelica"; }
  footer nav .logo {
    float: left;
    padding: 20px 0; }
  footer nav a {
    color: #2e2e2e; }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px; }
    footer nav ul li.active {
      position: relative; }
      footer nav ul li.active:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: blueviolet;
        position: absolute;
        bottom: 0; }
    footer nav ul li:first-child {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    footer nav ul li a {
      display: block;
      padding: 30px 10px;
      text-decoration: none; }
    footer nav ul li.violetsquare {
      background: #6270ff;
      padding: 30px 30px; }

footer .bluepad {
  padding: 50px;
  background: #444dad;
  text-align: center;
  color: white;
  font-size: 50px; }
