// FORME / TAILLE / PROPRIETES
.btn {
 display: flex; 
 justify-content: center;
 align-items: center;

 text-decoration:none;

 padding:5px 10px;
 font-size:12px;
 height: 55px;
 width: 210px;
}

.buttonslign{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.vertical-tabs{
  display: flex;
  justify-content: space-between;
  flex-direction: column ;

  
  .tab {
    display: flex; 
    justify-content: left;
    align-items: center;
  
    text-decoration:none;
    text-transform: uppercase;
  
    @include button(#dbddde, 0);

    padding:5px 10px;
    font-size:12px;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    position: relative; // pour placer l'effet PAR RAPPORT A SON DARON
    overflow: hidden; // incroyable

    &::after{
      content:"";
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 80px;
      left: -80px;
      background-image: url("/../src/img/funi.png");
      background-repeat: no-repeat;
      background-position: bottom;
      transition: 700ms;
    }
    &:hover{
      &::after{
        left:0;
        top:0;
      }
    }

    div{
      margin-left: 60px; //cat space
    }
  }

  .tab2 {
    display: flex; 
    justify-content: left;
    align-items: center;
  
    text-decoration:none;
    text-transform: uppercase;
  
    @include button(#dbddde, 0);

    padding:5px 10px;
    font-size:12px;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    position: relative; // pour placer l'effet PAR RAPPORT A SON DARON
    overflow: hidden; // incroyable

    &::after{
      content:"";
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 80px;
      left: -80px;
      background-image: url("/../src/img/funi.png");
      background-repeat: no-repeat;
      background-position: bottom;
      transition: 700ms;
    }
    &:hover{
      &::after{
        left:0;
        top:0;
      }
    }

    div{
      margin-left: 60px; //cat space
    }
  }

  .active{
    @include button(#7090ef, 0);
    }
}

.horizontal-tabs{
  display: flex;
  flex-direction: row ;

  //align-items: center;
  //justify-content: center;
  .tab  {
    @include button(#dbddde, 0);

    display: flex; 
    justify-content: space-around;
    align-items: center; // centrer verticalement text inside butt 
    text-decoration:none;
    
    margin: 0 20px;
    width: 100%;
    padding:5px 10px;
    font-size:14px;
    height: 50px;

    color: black;
  }
  .active{
    @include button(#7090ef, 0);
    }
  .tab2  {
    @include button(#dbddde, 0);

    display: flex; 
    justify-content: space-around;
    align-items: center; // centrer verticalement text inside butt 
    text-decoration:none;
    
    margin: 0 20px;
    width: 100%;
    padding:5px 10px;
    font-size:14px;
    height: 50px;

    color: black;
  }
  .active{
    @include button(#7090ef, 0);
    }
}


.onglets{
  display: flex;
  width: 1200px;
}
.onglets2{
  display: flex;
  width: 1200px;
}

// Squares~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.l1{
  .btn-1 {
    @include button(cyan, 0);
    @include gradient(45deg, #7ae2ff, #7090ef);

  }

  .btn-2 {
    @include button(#3498db, 0);
    @include gradient(45deg, #7090ef, #7ae2ff);

  }

  .btn-3{
    @include button(#6270ff);
  }

  .btn-4 {

    background: white;
    border-radius: 0px;
    position: relative;

    &::before{
        content:'';
        display: block;
        height: 73px;
        width: 238px;
        background: linear-gradient(to left,magenta, cyan);
        position: absolute;
        border-radius: 0px;
        top: -4px;
        left: -4px;
        z-index: -1;
    }
  } 
}

//  Soft Rounded ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.l2{
  .btn-1 {
    @include button(blue, 20px);
    @include gradient(45deg, #7ae2ff, #7090ef);
  }

  .btn-2 {
    @include button(#3498db, 20px);
    @include gradient(45deg, #7090ef, #7ae2ff);
  }

  .btn-3{
    @include button(#6270ff, 20px);
  }

  .btn-4 {
    background: white; //linear-gradient(pink, magenta);
    border-radius: 17px;
    position: relative;

    &::before{
        content:'';
        display: block;
        height: 73px;
        width: 238px;
        background: linear-gradient(to left,magenta, cyan);
        position: absolute;
        border-radius: 20px;
        top: -4px;
        left: -4px;
        z-index: -1;
    }
  } 
}


//  Rounded ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.l3{
  .btn-1 {
    @include button(blue, 33px);
    @include gradient(45deg, #7ae2ff, #7090ef);
  }

  .btn-2 {
    @include button(#3498db, 33px);
    @include gradient(45deg, #7090ef, #7ae2ff);
  }

  .btn-3{
    @include button(#6270ff, 33px);
  }

  .btn-4 {
    background: white; //linear-gradient(pink, magenta);
    border-radius: 33px;
    position: relative;

    &::before{
        content       : '';
        display       : block;
        height        : 73px;
        width         : 238px;
        background    : linear-gradient(to left,magenta, cyan);
        position      : absolute;
        border-radius : 33px;
        top           : -4px;
        left          : -4px;
        z-index       : -1;
    }
  } 
}


.shadow{
    @include shadow;
}
