//----------------------PAGE MESSAGE BOXES/
.main-message {
   height:1400px;
}
.grid-container-message {
    display: grid;
    width:70%;
    margin:0 auto;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    padding: 10px;
}

@mixin grid-item-message {
    padding: 10px;
    width:92%;
    margin:0 auto;
    height:120px;
    color:white;

    p, h4 {
        padding:0px 20px 3px 60px;
    }

    i {
        padding:20px 0px 0px 13px;
        position:absolute;
        font-size:1.3em;
    }
}

.grid-item-success-message {
    @include grid-item-message;
    background-color: #6270ff;
    padding-bottom: 50px;

}
.grid-item-error-message {
    @include grid-item-message;
    background-color:cyan;
    padding-bottom: 50px;

}
.grid-item-warning-message {
    @include grid-item-message;
    background-color: #ba4eff;
    padding-bottom: 50px;
}
.grid-item-info-message {
    @include grid-item-message;
    background-color:#ffcc44;
    padding-bottom: 50px;
}

//--------------------------------MESSAGE RESUME/

.grid-item-success-message-resume {
  @include grid-item-message;
  background-color: #6270ff;
  height:20px;

  p, h4  {
    margin-top:1px;
  }
  i {
      margin-top:-20px;
  }
}

.grid-item-error-message-resume {
    @include grid-item-message;
    background-color: #ff427c;
    height:20px;
  
    p, h4  {
      margin-top:1px;
    }
    i {
        margin-top:-20px;
    }
  }

  .grid-item-warning-message-resume {
    @include grid-item-message;
    background-color: #ba4eff;
    height:20px;
  
    p, h4  {
      margin-top:1px;
    }
    i {
        margin-top:-20px;
    }
  }

  .grid-item-info-message-resume {
    @include grid-item-message;
    background-color: #ffcc44;
    height:20px;
  
    p, h4  {
      margin-top:1px;
    }
    i {
        margin-top:-20px;
    }
  }

  .container-message-resume {
      margin-top:60px;
  }
//--------------------------------MESSAGE only BORDER/

.grid-item-success-message-border {
    @include grid-item-message;
    border:1px solid #6270ff;
    color:black;
    padding-bottom: 40px;

    i {
        color:#6270ff;
    }
}
.grid-item-error-message-border {
    @include grid-item-message;
    border:1px solid #ff427c;
    color:black;
    padding-bottom: 40px;

    i {
        color:#ff427c;
    }

}
.grid-item-warning-message-border {
    @include grid-item-message;
    border:1px solid  #ba4eff;
    color:black;
    padding-bottom: 40px;

    i {
        color:#ba4eff;
    }

}
.grid-item-info-message-border {
    @include grid-item-message;
    border:1px solid #ffcc44;
    color:black;
    padding-bottom: 40px;

    i {
        color:#ffcc44;
    }
}

//--------------------------------MESSAGE RESUME only BORDER/

.grid-item-success-message-resume-border {
    @include grid-item-message;
    border:1px solid #6270ff;
    height:20px;
  
    p, h4  {
      margin-top:1px;
      color:black;
    }
    i {
        margin-top:-20px;
        color:#6270ff;
    }
  }
  
  .grid-item-error-message-resume-border {
      @include grid-item-message;
      border:1px solid#ff427c;
      height:20px;
    
      p, h4  {
        margin-top:1px;
        color:black;

      }
      i {
          margin-top:-20px;
          color: #ff427c;
      }
    }
  
    .grid-item-warning-message-resume-border {
      @include grid-item-message;
      border:1px solid #ba4eff;
      height:20px;
    
      p, h4  {
        margin-top:1px;
        color:black;

      }
      i {
          margin-top:-20px;
          color:#ba4eff;

      }
    }
  
    .grid-item-info-message-resume-border {
      @include grid-item-message;
      border:1px solid #ffcc44;
      height:20px;
    
      p, h4  {
        margin-top:1px;
        color:black;

      }
      i {
          margin-top:-20px;
          color:#ffcc44;
      }
    }
  
    .container-message-resume {
        margin-top:60px;
    }

    .center {
        text-align:center;
        margin-bottom:10px;
        width:68%;

        h4 {
            display:inline-block;
        }

    }