.tabs .tabs-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .tabs .tabs-nav ul li {
    display: block;
    background: blue;
    padding: 15px 20px;
    color: black;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .tabs .tabs-nav ul li + li {
      margin-top: 5px; }
    .tabs .tabs-nav ul li.tabs-nav-item--active {
      background: turquoise;
      color: white; }

.tabs .tabs-content.tabs-content--inactive {
  display: none; }
