<head>
    <!-- Logo font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--====== STYLE CSS ================-->
    <link href="../src/css/style.css" rel="stylesheet" media="all" type="text/css">
</head>

<footer>
    <div class="content-footer">

        <img src="../src/img/milo.png" />
        <p>
            2017 All Rights Reserved
        </p>

        <span class="icons">
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-pinterest"></i>
      <i class="fab fa-linkedin-in"></i>
    </span>
    </div>
</footer>