
// ~~~~~ CREATION GRADIENT MAKER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin gradient ($deg, $start_color, $end_color) {

background: $start_color;

    /* FF3.6-15 */
        background: -moz-linear-gradient($deg, $start_color 0%, $end_color 100%);

    /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient($deg, $start_color 0%, $end_color 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: linear-gradient($deg, $start_color 0%, $end_color 100%);

    }
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// ~~~~~ VARIANTES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    .gradient {
        &--blue-purple {
            @include gradient (325deg, #79ccff, #9b74ff);
        }
        &--turquoise-purple {
            @include gradient (0deg, #1affec, #8012fc);
        }
        &--yellow-pink {
            @include gradient (45deg, #fff600, #ff00d8);
        }


        &--green-blue {
            @include gradient (270deg, #79ff8f, #79ccff);
        }
        &--orange-lilas {
            @include gradient (50deg, #FFCF77, #A67EF0);
        }
        &--magenta-purple {
            @include gradient (90deg, #FF18AC, #6E03FF);
        }


        &--yellow-purple {
            @include gradient (225deg, #fff600, #8012fc);
        }
        &--purple-blue {
            @include gradient (180deg, #6E03FF, #79ccff);
        }
        &--green-orange {
            @include gradient (135deg, #79ff8f, #EEC555);
        }
    }
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~